body {
    line-height: 1.6;
    color: #333;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container */

.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}


/* Header */

.header {
    margin: 0 auto;
    width: 80%;
    padding-left: 22px;
    background-color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    z-index: 4;
    box-shadow: 0 1px 2px #c9c9c9;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.headerLogo {
    font-size: 30px;
    color: #373737;
    font-family: 'Permanent Marker', cursive;
    font-weight: 800;
    padding-left: 2.1%;
}

.headerLogoPic {
    width: 47px;
    vertical-align: middle;
}


/* wholeChatWindow */

.wholeChatWindow {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
    display: flex;
}


/* onlineUsersList */

.onlineUsersSidebar {
    float: left;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    padding-top: 15px;
    scrollbar-width: none;
    background: linear-gradient(130deg, #4e4e4e, #202020);
    box-shadow: 0 1px 5px #2c2c2c;
    z-index: 5;
    overflow-y: hidden;
}

.onlineUsersSidebarHeading {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 43px;
    margin-bottom: -33px;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab 100%);
	background-size: 400% 2px;
    animation: gradient 15s ease infinite;
    background-repeat: repeat-x;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.onlineStatus {
    height: 9px;
    width: 9px;
    border: 2px solid rgb(116, 255, 47);
    border-radius: 12px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin: 1%;
    bottom: 1px;
}

.containerForOnlineUsersList {
    overflow-y: scroll;
    height: 92vh;
    box-shadow: inset 0 1px 7px #2c2c2c;
}

.onlineUserInList {
    position: relative;
    left: 20px;
    height: 40px;
}

.onlineUserInList:last-child {
    padding-bottom: 48px;
}

.onlineUsersInListProfilePic {
    position: absolute;
    left: 20px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: 8px;
}

.onlineUsersInListLogin {
    position: absolute;
    left: 65px;
    top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}


/* chat */

.chat {
    width: 85%;
    background-color: whitesmoke;
    overflow: hidden;
    /* vertical-align: middle; */
    margin-left: 17.7%;
    margin-right: 0;
    position: relative;
    top: 35px;
    padding-bottom: 48px;
}


/* blockChatName */

.blockChatName {
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    display: flex;
    align-items: center;
    z-index: 4;
}

.chatRoomName {
    font-size: 20px;
    color: #2d2d2d;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.chatRoomPic {
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.chatRoomPic img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}


/* messages */

#messages {
    width: 100%;
    position: relative;
    padding-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Animation for message*/

@keyframes moveOutcomingMessage {
    0% {
        transform: translate3d(600px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes moveIncomingMessage {
    0% {
        transform: translate3d(-600px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}


/* IncomingMessage */

.incomingMessage {
    width: 100%;
    margin: 0 auto;
    padding: 0px 0 0 100px;
    position: relative;
    max-width: 640px;
    clear: both;
    float: left;
}

.incomingMessage:last-child {
    animation: moveIncomingMessage 0.15s linear;
}

.incomingMessageItem {
    position: relative;
}

.incomingMessageProfilePic {
    position: absolute;
    top: 6px;
    left: -60px;
    z-index: 1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.incomingMessageContent {
    margin-bottom: 12px;
    background-color: #48494e;
    padding: 10px 20px;
    color: #ffffff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: justify;
    display: block;
    float: left;
    max-width: 640px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;  
    position: relative;
    top: 0;
    left: 0;
    min-width: 170px;
}

.incomingMessageLogin {
    font-weight: 700;
    position: relative;
    top: -3px;
}


/*outgoingMessage*/

.outgoingMessage {
    width: 100%;
    margin: 0 auto;
    padding: 0px 100px 0 0;
    position: relative;
    max-width: 640px;
    clear: both;
    float: right;
}

.outgoingMessage:last-child {
    animation: moveOutcomingMessage 0.15s linear;
}

.outgoingMessageItem {
    position: relative;
}

.outgoingMessageProfilePic {
    position: absolute;
    top: 6px;
    right: -60;
    z-index: 1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.outgoingMessageContent {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 10px 20px;
    color: #60656c;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: justify;
    display: block;
    float: right;
    max-width: 640px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; 
    position: relative;
    top: 0;
    right: 0;
    min-width: 170px;
}

.outgoingMessageLogin {
    font-weight: 700;
    position: relative;
    top: -3px;
}


/* messageTime, messagePic */

.messageTime {
    color: #9696a0;
    position: absolute;
    top: 8px;
    right: 20px;
}

.messagePic {
    max-width: 555px;
    max-height: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 100px;
    min-height: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -11px;
    margin-top: 3px;
}


/* middleMessage */

.middleMessage {
    width: 130px;
    margin: 15px auto;
    position: relative;
    clear: both;
    padding: 4px 10px 4px 10px;
    color: #ffffff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: justify;
    background-color: rgba(200, 200, 200, 0.4);
    text-align: center;
}


/* messageForm */

.messageForm {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    height: 46px;
    box-shadow: 0 0 5px #c9c9c9;
}

#messageInput {
    width: 90%;
    height: 35px;
    outline: none;
    border: none;
}

input {
    caret-color: #60656c;
}

.sendButton {
    width: 30px;
    height: 30px;
    padding-right: 50px;
    outline: none;
    border: none;
    background: url(../images/icons/sent-mail.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.sendButton:hover {
    cursor: pointer;
}

.sendButton:active {
    background: url(../images/icons/sent-mail-active.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    opacity: 1;
}

.sendAttachButton {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 50px;
    margin-left: 20px;
    outline: none;
    border: none;
    background: url(../images/icons/attachment.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.sendAttachButton:hover {
    cursor: pointer;
}

.sendAttachButton:active {
    background: url(../images/icons/attachment-active.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    opacity: 1;
}


/* nicknameEntering */

.nicknameEnteringBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: none;   
}

.nicknameEnteringBackground::before {
    content: "";
    background-image: url(../images/background/background-otters.jpg);
    background-size: contain;
    position: absolute;
    top: -10px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.035;
}
.headerLogo.nicknameEntering {
    padding-left: 5%;
    margin-top: 1.5%;
    font-size: 25px;
}

.nicknameEnteringWindow {
    background: white;
    width: 30%;
    height: 22%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 1px 2px rgb(0 26 255), 
                0 0 4px 4px rgb(0 60 255), 
                0 0 6px 8px rgb(0 247 255);
    border-radius: 30px;
    border: 10px solid white;
    box-sizing: border-box;
}

.nicknameCaption {
    font-size: 16px;
    color: #373737;
    font-family: 'Permanent Marker', cursive;
    font-weight: 800;
    padding-left: 5%;
}

#nicknameInput {
    width: 90%;
    height: 35px;
    outline: none;
    border: none;
    position: absolute;
    margin-left: 5.1%;
    bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}