<html>

<head>
    <title>JSTest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        #messages {
            height: 350px;
            width: 40%;
            overflow: scroll;
        }
        p {
            margin: 0px;
        }
    </style>
</head>

<body>
    <div id="messages"></div>
    <form name="messageForm">
        <input type="text" id="messageInput">
        <input type="button" value=">" onclick="sendMessage()">
    </form>

    <script src="../static/js/main.js"></script>
</body>
    
</html>